<!-- TODO: Submit gomb validálás, és hibaüzenetek megjelenítése -->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form (ngSubmit)="onSubmit()" #f="ngForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input
                        type="text"
                        id="name"
                        class="form-control"
                        ngModel
                        name="name"
                        required
                    >
                </div>
                <div class="form-group">
                    <label for="year">Year of Foundation</label>
                    <input
                        type="number"
                        id="year"
                        class="form-control"
                        ngModel
                        name="year"
                        required
                        pattern="([1-2][0-9]{3})"
                    >
                </div>
                <div class="form-group">
                    <label for="cup">Wolrd Cups won</label>
                    <input
                        type="number"
                        id="cup"
                        class="form-control"
                        ngModel
                        name="cup"
                        required
                        min="0"
                    >
                </div>
                <div class="radio">
                    <label>
                        <input
                            type="radio"
                            name="payed"
                            ngModel
                            [value]="true"
                            required
                        >
                            Already payed entry fee
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input
                            type="radio"
                            name="payed"
                            ngModel
                            [value]="false"
                            required
                        >
                            Did not pay entry fee yet
                    </label>
                </div>
                <button
                    class="btn btn-primary"
                    type="submit"

                >
                    {{ getSubmitButtonLabel() }}
                </button>
            </form>
        </div>
    </div>
</div>

<!-- [disabled]="!f.valid" -->
