<div class="container">
    <div *ngIf="!racerTeamsError.length && !racerTeamsLoading">
        <div
            id="racer-team__box"
            class="jumbotron"
            *ngFor="let racerTeam of racerTeams"
        >
            <h1 class="display-4">{{ racerTeam.name }}</h1>
            <p class="lead">Year of foundation: {{ racerTeam.yearOfFoundation }}</p>
            <hr>
            <p>Number of World Cups won: {{ racerTeam.wonWorldCupsNumber }}</p>
            <p class="lead">
            <a class="btn btn-info btn-lg" role="button" (click)="onUpdate(racerTeam.id)">Update</a>
            <a class="btn btn-danger btn-lg" role="button" (click)="onDelete(racerTeam.id)">Delete</a>
            </p>
        </div>
    </div>

    <div
        *ngIf="racerTeamsError.length && !racerTeamsLoading"
        class="alert alert-danger"
        role="alert"
    >
        <strong>{{ racerTeamsError }}</strong>
    </div>

    <div class="lds-dual-ring" *ngIf="racerTeamsLoading"></div>
</div>
