<footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <p> Copyright © BREDEX Formula-1 CRUD App by József Kanyó (2022). All right reserved.</p>
                </div>
                <div class="col-xs-4 payments">
                    <ul class="nav nav-pills">
                        <li *ngFor="let footerLink of footerLinks">
                            <a [href]="footerLink.linkURL" target="_blank">
                                <i [class]="footerLink.faDescriptor"></i>
                            </a
                        ></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
