<footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <p> Copyright © BREDEX Formula-1 CRUD App by József Kanyó (2022). All right reserved.</p>
                </div>
                <div class="col-xs-4 payments">
                    <ul class="nav nav-pills">
                        <li>
                            <a
                                href="https://www.linkedin.com/in/j%C3%B3zsef-kany%C3%B3-7633aa161/"
                                target="_blank"
                            >
                                <i class="fa fa-linkedin-square"></i>
                            </a
                        ></li>
                        <li>
                            <a
                                href="https://github.com/KanyJoz"
                                target="_blank"
                            >
                                <i class="fa fa-github-square"></i>
                            </a>
                        </li>
                        <li>
                            <a
                                href="https://www.instagram.com/kanyjoz/?hl=hu"
                                target="_blank"
                            >
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a
                                href="https://www.facebook.com/jozsef.kanyo.3"
                                target="_blank"
                            >
                                <i class="fa fa-facebook-square"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
