@mixin positionCenter {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home__title {
    @include positionCenter();
    backface-visibility: hidden;
    animation: moveInFromTop 1s ease-in-out;
    transition: all .3s;

    &:hover {
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
        transform: translate(-50%, -50%) translateY(-10px);
    }
}

@keyframes moveInFromTop {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) translateY(-50px);
    }

    80% {
        transform: translate(-50%, -50%) translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(0px);
    }
}
