<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/home" class="navbar-brand">{{ brandText }}</a>
        </div>
        <div class="collapser navbar-collapse">
            <ul class="nav navbar-nav">
                <li
                    *ngFor="let headerLink of headerLinks"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                >
                    <a [routerLink]="headerLink.navigationArray">{{ headerLink.text }}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a
                        class="dropdown-toggle"
                        role="button"
                    >
                        {{ dropdownText }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
